# Rename this file to .env and add your OpenAI API key
OPENAI_API_KEY= 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
